<div class="container my-5">
  <h1 class="text-center">Your Orders</h1>

  <% if @orders.any? %>
    <table class="table table-striped mt-4">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Date</th>
          <th>Total Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.id %></td>
            <td><%= order.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
            <td>$<%= order.total_price %></td>
            <td>
              <%= link_to 'View Details', order_path(order), class: 'btn btn-primary btn-sm' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="text-center">You have no past orders.</p>
  <% end %>
</div>
