<!-- app/views/pages/thank_you.html.erb -->
<h1 class="text-center my-4">Thank You for Your Order!</h1>
<div class="container">
  <p>Your order has been successfully placed. You will receive an email confirmation shortly.</p>
  <p>Thank you for shopping with us!</p>
  
  <!-- Buttons for navigation -->
  <div class="mt-4 text-center">
    <%= link_to 'Home', root_path, class: 'btn btn-primary mx-2' %>
    <%= link_to 'Return to Shop', shop_path, class: 'btn btn-info mx-2' %>
  </div>
</div>
